<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{appTitle}}</title>
    <meta property="og:image" content="../public/images/meta.png" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <script src="https://unpkg.com/flowbite@1.3.4/dist/datepicker.js"></script>
  </head>

  <body class="p-0">

    <nav class="bg-white border-b w-full border-gray-200 px-2 sm:px-4 py-2.5 rounded">
      <div class="container flex flex-wrap justify-between items-center mx-auto">
        <a href="#" class="flex items-center">
          <span class="self-center text-xl font-semibold whitespace-nowrap">Kindergarden App</span>
        </a>
        <div class="flex align-items md:order-2">
          {{#if user.children}}
            <a href="/parent" class="py-4 px-6 text-xs text-gray-200 whitespace-nowrap underline">Parent View</a>
            <a href="/admin" class="py-4 px-6 text-xs text-gray-200 whitespace-nowrap underline">Admin View</a>
            <a href="/tests/new" class="flex align-items">
              <button type="button" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-3 md:mr-0">Submit New Test</button>
            </a>
            <a href="/auth/logout" class="py-4 px-6 text-sm text-gray-500 whitespace-nowrap underline">Logout</a>
          {{/if}}
          {{#admin user}}{{/admin}}
        </div>
        <div class="hidden justify-between items-center w-full md:flex md:w-auto md:order-1" id="mobile-menu-4">
        </div>
      </div>
    </nav>
    <br />
    <div class="container mx-auto px-2">

      {{{body}}}
    </div>
    <script src="/js/script.js"></script>
  </body>

</html>