<form action="/auth/admin" method="POST">
   <label> Headline:
      <input type="text" name="headline">
   </label>
   <label> Content:
      <textarea name="content" cols="30" rows="5">

      </textarea>
   </label>

   <label> Upload file:
       <input type="file" name="admin-file" >

   </label>

   <button type="submit">Submit</button>
</form>

{{#if errorMessage}}
   {{errorMessage}}
{{/if}}